@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Bold';
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: lightcyan;
    align-items: center;
    justify-content: center;
    display: flex;
}
#container{
    height: 400px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#container i{
    color: rgb(215, 27, 74);
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0.8;
    transition: transform ease 0.4s;
}